]

<footer>
	<div class="container">
		<div class="row">
			<div class="col-xl-2 col-md-3 col-12 mb-md-0 mb-4">
				<div class="row h-100 justify-content-between">
					<div class="col-md-12 col-6"><img src="/img/logo.png" alt="Tradecryptexchange.com" title="Tradecryptexchange.com"></div>
					<div class="col-md-12 col-6 align-self-end">2024 tradecryptexchange.com.<br /> 
					All rights reserved</div>
				</div>
			</div>

			<div class="col-xl-10 col-md-9">
				<div class="row">
					<div class="col-xl-3 col-6 mb-lg-0 mb-4 links">
						<a href="/about_us">About us</a></br>
						<a href="/rules">Terms of use</a></br>
						<a href="/privacy_policy">Privacy policy</a></br>
						<a href="/cookie_policy">Cookies Policy</a>
<br>	<a href="/risk_disclosure">Risk Disclosure</a>
					</div>
					
					<div class="col-xl-3 col-6 links">
						<a href="/faq">FAQ</a></br>
						<a href="/help">Support Center</a></br>
						<a href="/support">Send request</a>
					</div>
				
				</div>
			</div>
		</div>

	</div>
</footer>

